*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --site-bg-color: #e6e6e6;
    --font-color: #5a5a5a;
    --card-bg-color: #ffffff;
    --card-sec-color: #4AA9F3;
  }

body{
    background-color: var(--site-bg-color);
    color: var(--font-color);
}

#languages{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(1, 330px);
    border: 2px solid green;
}  

.card{
    text-align: center;
    padding: 15px;
    margin: 15px;
    width: 300px;
    height: 400px;
    background-color: var(--card-bg-color);
    border-radius: 5px;
}

.card_image{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    object-fit: contain;    
}

.card_tittle{
    font-size: 1.5rem;
    font-weight: 700;
}

.card_description{
    height: 160px;
}

.card_button{
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    margin: 30px 0;
    background-color: var(--card-sec-color);
    line-height: 30px;
    vertical-align: middle;
}

.line{
    position: absolute;
    right: 0;
    left: 0;
    top: -20px;
    background-color: var(--font-color);
    opacity: 0;
    height: 3px;
}

.card_button:hover .line{
    opacity: 1;
}

/*---------------------------------------------Tablette----------------------------------------------*/

@media screen and (min-width : 400px){
    #languages{
        grid-template-columns: repeat(2, 330px);
    }
}

/*---------------------------------------------Computer----------------------------------------------*/

@media screen and (min-width : 1280px){
    #languages{
        grid-template-columns: repeat(4, 330px);
    }
}